.third {
    width: 33.3%;
    float: left;
}

.whole {
    clear: both;
}

#control-templates {
    padding: 20px;
    border: 1px solid #888;
}

#kind-list-pane {
    border: 1px solid #888;
}

#record-list-pane {
    border: 1px solid #888;
}

#control-templates * {
    display: block;
}

#record {
    height:500px;
    position: relative;
    border: 1px solid #888;
}
